body{
    background-color: black;
}

.clock{
    
    
    position: relative;
}

h1{
    font-size: 2rem;
    text-align: center;
   
}

.pen{
    width: 600px;
    height: 60px;
    background-color: black;
    position: absolute;
    left: 20px;
    
}

.light{
    width: 700px;
    height: 60px;
    background-color: whitesmoke;
}

img.night{
    width: 700px;
    height: 60px;
}

.pyke{
    width: 700px;
    height: 60px;
    background-color: black;
}

.on{
    width: 700px;
    height: 60px;
    background-color: black;
}

.pai{
    width: 700px;
    height: 60px;
    background-color: black;
}

.shoe{
    width: 700px;
    height: 60px;
    background-color: black;
    position: absolute;
    left: 20px;
    top: 550px;
     
}

*{
    font-family: 'Raleway', sans-serif;
    color: #B0B0B0;
}